body {
    margin: 0;
    padding: 0;
    background-image: url('https://www.backgroundsy.com/file/large/green-background-design.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
  }