body {
    margin: 0;
    padding: 0;
    background-image: url('https://t3.ftcdn.net/jpg/05/81/60/08/360_F_581600829_FELbYAM9N9ubKyHjrWmt9jG4yNJOynFb.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: white;
  }
